{%extends "base.html" %} {% block head%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
<link rel="stylesheet" href=" {{ url_for('static', filename='css/3.css')}}" /> {% endblock %}
{% block box%}
<div class="container">
    <br>
    <br><br>
    <br>
    <br>
    <h1>
        Scan and Search
    </h1>
    <br>
    <h4 style="color: azure;">A service which enables to find the relevant content for the items that you search and simplifies your life!</h4>
    <br>
    <br>
</div>
<div class="container">
    <form action="http://127.0.0.1:5000/3" method="POST" enctype="multipart/form-data">

        <div class="form-group">

            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" required>
                <label class="custom-file-label" for="file"> Select image...</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">  Submit  </button>

    </form>
</div>
<br> {% if lis %}

{% for index in lis %}
<div class="container">
    <!--img src="img_avatar.png" alt="Avatar" style="width:100%"-->
    <div class="card"> 
        
      
        <a href="{{index}}"><h1 style="color: black;">Link</h1></a>
        
        
    </div>
<br>

</div>
{% endfor %}
<br>
<br> {% endif %} {% endblock%}