body {
    
    margin: 0;
    padding: 0;
    background-image: url("pika.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {

    color : white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 200px;
    width: 80px;
    color: bisque;
    border-radius: 5px; /* 5px rounded corners */
  }
  